.stack {
  display: flex;
  flex-direction: column;
}

.title {
  color: rgb(37, 37, 37);
  font-family: 'Abril Fatface', serif;
  font-size: max(2rem, 2vw);
  margin-bottom: 1rem;
}

.topic h2 {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: max(1.5rem, 1vw);
  font-weight: 400;
  margin-bottom: 0.2rem;
  margin-top: 1.5rem;
}

.table {
  padding-left: 3px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(26, 26, 26);
  font-size: max(1rem, 0.8vw);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.table li::before {
  content: "\2022";
  color: rgb(94, 94, 94);
  font-weight: 900;
  display: inline-block;
  width: 1em;
}

.download {
  margin-top: 2rem;
}
