.title {
  color: rgb(37, 37, 37);
  font-family: 'Abril Fatface', serif;
  font-size: 2rem;
  margin-bottom: 1em;
}

.text {
  color: rgb(94, 94, 94);
  font-weight: 500;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
}

.form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 400;
  font-size: 1rem;
  color: #7d7c84;
}

input,
textarea {
  margin-top: 0.1em;
  display: block;
  width: 100%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-size: 0.9rem;
  color: rgb(37, 37, 37);
  font-weight: 400;
  padding: 0.5rem 0.5rem;
}

textarea {
  height: 7rem;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #7d7c84;
  font-size: 0.9rem;
}

input:focus,
textarea:focus {
  outline: #7a7a7a 1px solid;
}

.submit {
  margin-top: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 2.2rem;
  }

  .text,
  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: 1rem;
  }

  .label {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 2.4rem;
  }

  .text {
    font-size: 1.1rem;
  }
}
