.title,
.subtitle {
  color: rgb(37, 37, 37);
  font-family: 'Abril Fatface', serif;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle {
  color: rgb(94, 94, 94);
  font-size: 1.2rem;
  font-weight: 400;
}

.hero,
.social {
  margin-top: 12%;
}

.hero {
  color: rgb(26, 26, 26);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.social {
  display: flex;
  gap: 1.5vw;
  color: white;
  min-height: 2.3rem;
  height: 2.2vw;
}

.social li {
  height: 100%;
  padding: 6px;
  border-radius: 5px;
}

.social svg {
  height: 100%;
  width: auto;
}

.say_hi {
  margin-top: 1.2rem;
  font-weight: 400;
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .hero {
    font-size: 1.05rem;
  }

  .say_hi {
    margin-top: 1.4rem;
  }

  .social {
    gap: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.35rem;
  }

  .hero {
    font-size: 1.1rem;
  }

  .say_hi {
    margin-top: 1.6rem;
  }

  .social {
    gap: 1rem;
  }
}
