.title {
  margin-top: 3%;
  font-size: 1.5rem;
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  font-weight: 400;
}

.description {
  color: #ffffffd5;
  text-align: justify;
  font-size: 1rem;
}

.link {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.link a {
  text-decoration: none;
  width: 47%;
  padding: 1.2em 0.6em;
  border-radius: 1.9em;
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0.144);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
}

.link a svg {
  display: none;
}

.link a:last-child svg {
  height: 0.9em;
}

.link a:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.tech {
  width: 100%;
  color: #ffffffd5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.tech li {
  padding-right: 2%;
  font-size: 0.9rem;
  line-height: 1.5em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tech li:not(:last-of-type) {
  border-right: 1px solid #ffffffc5;
}

.tech li:last-of-type {
  padding-right: 0;
}

.mockup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.mockup_1,
.mockup_3 {
  aspect-ratio: 16/9;
}

.mockup_2,
.mockup_4 {
  aspect-ratio: 1/1;
}

.mockup div {
  border-radius: 0.5rem;
  box-shadow: 15px 15px 25px 5px rgba(0, 0, 0, 0.342);
  overflow: hidden;
}

.mockup img {
  display: block;
  width: 100%;
}

.mock_2,
.mock_4 {
  max-width: 45%;
}

.mockup_1 div:last-of-type,
.mockup_3 div:last-of-type {
  display: none;
}

@media only screen and (min-width: 350px) {
  .link a svg {
    display: block;
  }

  .link a {
    min-width: 9rem;
    max-width: 13rem;
    padding: 1.2em 1em;
    border-radius: 1.6em;
    font-size: 0.8rem;
  }
}
@media only screen and (min-height: 780px) {
  .mock_2,
  .mock_4 {
    max-height: 40vh;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .tech li {
    font-size: 1rem;
  }

  .link a {
    font-size: 0.9rem;
  }

  .mockup_2,
  .mockup_4 {
    aspect-ratio: 5/4;
  }

  .mock_2,
  .mock_4 {
    max-width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .tech {
    gap: 3%;
  }

  .tech li {
    padding-right: 3%;
  }

  .link a {
    font-size: 1rem;
  }

  .mockup_2,
  .mockup_4 {
    aspect-ratio: 16/11;
  }

  .mock_2,
  .mock_4 {
    max-width: 35%;
  }
}

@media only screen and (min-width: 1300px) {
  .mockup_2,
  .mockup_4 {
    aspect-ratio: 16/9;
  }

  .mock_2,
  .mock_4 {
    max-width: 27%;
  }
}