* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  height: 3vw;
  min-height: 3rem;
  min-width: 10rem;
  text-transform: uppercase;
  font-size: max(1rem, 1vw);
  line-height: max(1rem, 1vw);
  letter-spacing: 0.1rem;
  padding: 1rem;
  border-radius: max(1.5rem, 2.5vw);
  color: rgb(255, 255, 255);
}

.btn:hover {
  filter: contrast(135%);
}
