$theme_0: #7d4abe;
$theme_1: #54adb3;
$theme_2: #d074c9;
$theme_3: #6bad44;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.btn {
  min-height: 3rem;
  width: 50%;
  min-width: 8rem;
  max-width: 12rem;
  font-size: 1rem;
  border-radius: 1.5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 1em;
  color: rgb(255, 255, 255);
  animation: glow 3s alternate infinite ease-in-out;
}

@keyframes glow {
  80% {
    filter: none;
  }
  
  100% {
    filter: opacity(65%);
  }
}

.btn:hover {
  filter: opacity(85%);
}

.theme_0 {
  hr {
    border: 1px solid $theme_0;
  }

  .bg {
    background-color: $theme_0;
  }
}

.theme_1 {
  hr {
    border: 1px solid $theme_1;
  }

  .bg {
    background-color: $theme_1;
  }
}

.theme_2 {
  hr {
    border: 1px solid $theme_2;
  }

  .bg {
    background-color: $theme_2;
  }
}

.theme_3 {
  hr {
    border: 1px solid $theme_3;
  }

  .bg {
    background-color: $theme_3;
  }
}

.theme_0 .social {
  li {
    background-color: #7c4abe22;
  }

  svg {
    color: $theme_0;
  }
}

.theme_1 .social {
  li {
    background-color: #54adb327;
  }

  svg {
    color: $theme_1;
  }
}

.theme_2 .social {
  li {
    background-color: #d074c927;
  }

  svg {
    color: $theme_2;
  }
}

.theme_3 .social {
  li {
    background-color: #73b84b27;
  }

  svg {
    color: $theme_3;
  }
}

.theme_0 .social li:hover {
  background-color: #7c4abe3a;
}

.theme_1 .social li:hover {
  background-color: #54adb34f;
}

.theme_2 .social li:hover {
  background-color: #d074c94f;
}

.theme_3 .social li:hover {
  background-color: #73b84b4f;
}

nav {
  display: none;
}

@media only screen and (min-width: 700px) {
  nav {
    display: block;
  }

  /* .container {
    margin-top: 6rem;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .btn {
    font-size: 1.1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .btn {
    font-size: 1.2rem;
  }
}
